<ol id="reviews">
  <% reviews.each do |review| %>
    <li>
      <span class="review"><%= pluralize(review.stars, 'star') %></span>
      <span class="user">by <%= review.name %></span>
      <span class="date"><%= time_ago_in_words(review.created_at) %> ago</span>
      <p>
        &quot;<%= review.comment %>&quot;
      </p>
      <p><%= link_to "Delete", [review.movie, review], method: :delete %> | 
         <%= link_to "Edit", "/movies/#{review.movie.id}/reviews/#{review.id}/edit" %>
      </p> <!-- edit_movie_review_path not working for edit link-->

    </li>
  <% end %>
</ol>