<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    
    <% if !current_user %>
      <p class="log-in-msg">To log in as admin use email: admin@gmail.com password: password1</p>
      <p id ="last-log-in-msg"class="log-in-msg">To log in as a user use email: user@gmail.com password: password2</p>
    <% end %>

    <%= render 'layouts/flashes' %>

    <div id="wrapper">

      <div id="container">
        <section id="sidebar">
          <%= render "layouts/sidebar" %>
        </section>
        <section id="content">
          <%= yield %>
        </section>
      </div>

    </div>

    <%= render "layouts/footer" %>
  </body>
</html>
